.a-chat {
    &-frame{
      display: flex;
      height: 100vh;
      width: 100vw;
    //   justify-content: center;
    //   align-items: center;
    }
  
    &-bar{
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 100%;
      background: white;
      border-right: 2px solid grey;
      &-title{
        text-align: right;
        &-link {
          vertical-align: center;
        }
      } 
      &-search {
        &-field {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 1rem;
        }
  
      } 
      &-list {
        &-item {
          display: flex;
          &-content {
            &-header {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }  
    }
    &-content{
      width: 75%;
      background: white;    
    }
  }
  
  