// _variables.scss
$theme-background: #E4E2DF;;
$theme-highlight: #6186b1;
$theme-header-color: #fff;
$theme-button-color-hover: #357ab8;
$theme-body-background: #f0f2f5;
$error-text-color: #666;
$avatar-background: #f0f0f0;
$theme-grey: #817d7d;;
